
{% extends 'gold/base.html' %}
 {% load static %}
{% block header %}
    <div class="hero_area">
    {% include 'gold/header.html' %}

{% endblock %}
</div>

{% block about %}

     <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          İkinci Əl Qızılın Qiymətləri!
        </h2>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="name">
            <h6>
              Diamond Ring
            </h6>
          </div>
          <div class="img-box">
            <img src="{% static 'goldhome/images/p-1.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
               <span>1000.00</span>  AZE
            </h5>
            <a href="">
              Ətraflı
            </a>
          </div>
        </div>

      </div>

    </div>
  </section>
 {% endblock %}
{% block footer %} {% include 'gold/footer.html' %} {% endblock %}



