

{% load static %}

<section class=" slider_section position-relative">
      <div class="design-box">
        <img src="{% static 'goldhome/images/design-1.png' %}" alt="">
      </div>

      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              {% for cars in carusel %}
                  {% if cars.public %}
                      <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
              <div class="row">
                <div class="col-md-5">

                  <div class="detail_box">
                    <h2>
                      <span> {{ cars.name }}</span>
                      <hr>
                    </h2>
                    <h1>
                        {{ cars.title }}
                    </h1>
                    <p>
                        {{ cars.content }}
                    </p>

                      <h3>
                        {{ cars.price }} AZN
                      </h3>

                  </div>

                </div>
                <div class="col-md-4">

                  <div class="img-box">

                    <img class="img-thumbnail" src="{{ cars.image.url }}" alt="">

                  </div>
                </div>
              </div>
            </div>
                  {% endif %}
              {% endfor %}
             {% comment %}
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> New Collection</span>
                      <hr>
                    </h2>
                    <h1>
                      Jewellery
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet consec tetur adipiscing elit elit at felislacinia
                      aptent taciti sociosqu ad litora torquent per conubia nostra
                    </p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'goldhome/images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> New Collection</span>
                      <hr>
                    </h2>
                    <h1>
                      Jewellery
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet consec tetur adipiscing elit elit at felislacinia
                      aptent taciti sociosqu ad litora torquent per conubia nostra
                    </p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'goldhome/images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>

    </section>